.body {
  background: #272730;
  cursor: url("https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png") 39 39, auto;
  image-rendering: pixelated;
  height: 70vh !important;
}
